<a href="https://colab.research.google.com/github/lucaslapazini95/projetos_pyspark/blob/main/compras_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Comandos para iniciar
!pip install pyspark

from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = ( SparkSession.builder
                      .master('local')
                      .appName('leitura_csv')
                      .config('spark.ui.port', '4050')
                      .getOrCreate())

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 20.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=ac69fecc663504fe8a47cbdbe1f1f4926c224cfbe99b590a3e49eb07cdf1e9b8
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
#LER DATASETS EM CSV
df_compras = (
    spark.read
         .format('csv')
         .option('delimiter', ';')
         .option('header', 'true')
         .option('inferschema', 'true')
         .load('/content/drive/MyDrive/compras_pyspark.csv')
)

In [ ]:
df_compras.printSchema()

root
 |-- Username: string (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Data_Nascimento: string (nullable = true)
 |-- Ocupação: string (nullable = true)
 |-- Assinatura: string (nullable = true)
 |-- Total_Gasto : double (nullable = true)

In [ ]:
df_compras.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Username     |Nome                     |Sexo     |Data_Nascimento|Ocupação                           |Assinatura|Total_Gasto |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45     |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99      |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77     |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76      |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07      |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04      |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81     |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95       |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73      |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72     |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74     |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04     |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72     |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+

In [ ]:
#SELECIONAR USERNAME, NOME E SEXO E MOSTRAR
df_compras.select(F.col('Username'), F.col('Nome'), F.col('Sexo')).show()

+-------------+--------------------+---------+
|     Username|                Nome|     Sexo|
+-------------+--------------------+---------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|
|     Maress39|Mrs  \t isabella ...| feminino|
|     Kehonell| Mrs Chloe \tKirby  | feminino|
|      Thimpay| Mrs louise \tCla...| feminino|
|    Giall1985|Mr Harrison \t Bowen| feminino|
|    Neave1959|Mrs anna \t     S...| feminino|
|Nicterims1993|  Mrs \tDaisy And...|masculino|
| Fouldlairity|    Ms zoe \tPeacock|masculino|
| Ancomettiody| Mrs Libby \tWill...| feminino|
|       Onswis| Ms Katie \tMmtcalfe| feminino|
|    Majeappre|   Mr Luca \tVaughan| feminino|
|      Theired|   Mr Henry \tHaynes|masculino|
|       Botter|    Mr Noah \tWalton| feminino|
+-------------+--------------------+---------+

In [ ]:
#CRIAR UM FILTRO APENAS POR ENGENHEIROS DE DADOS E MOSTRAR
df_compras.filter(F.col('OCUPAÇÃO') == 'Engenheiro de Dados').show()

+-------------+--------------------+---------+---------------+-------------------+----------+------------+
|     Username|                Nome|     Sexo|Data_Nascimento|           Ocupação|Assinatura|Total_Gasto |
+-------------+--------------------+---------+---------------+-------------------+----------+------------+
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987|Engenheiro de Dados|25/03/2020|      628.07|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970|Engenheiro de Dados|18/09/2020|      140.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985|Engenheiro de Dados|29/01/2021|     2417.81|
+-------------+--------------------+---------+---------------+-------------------+----------+------------+

In [ ]:
#VERIFICAR AS PESSOAS QUE GASTARAM MAIS QUE 2 MIL EM TOTAL GASTO
df_compras.filter(F.col('Total_Gasto ') >= 2000).show()

+-------------+--------------------+---------+---------------+-------------------+----------+------------+
|     Username|                Nome|     Sexo|Data_Nascimento|           Ocupação|Assinatura|Total_Gasto |
+-------------+--------------------+---------+---------------+-------------------+----------+------------+
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985|Engenheiro de Dados|29/01/2021|     2417.81|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|       Web Designer|26/07/2022|     3464.72|
+-------------+--------------------+---------+---------------+-------------------+----------+------------+

In [ ]:
#VERIFICAR AS PESSOAS DO SEXO FEMININO QUE GASTARAM MAIS QUE 2.500
df_compras.filter((F.col('Sexo') == 'feminino') & (F.col('Total_Gasto ') >= 2000)).show()

+--------+----------------+--------+---------------+------------+----------+------------+
|Username|            Nome|    Sexo|Data_Nascimento|    Ocupação|Assinatura|Total_Gasto |
+--------+----------------+--------+---------------+------------+----------+------------+
|  Botter|Mr Noah \tWalton|feminino|     09/03/1991|Web Designer|26/07/2022|     3464.72|
+--------+----------------+--------+---------------+------------+----------+------------+

In [ ]:
#VERIFICAR A QUANTIDADE DE REGISTROS DO DATAFRAME
df_compras.count()

13

In [ ]:
df_compras.columns

['Username',
 'Nome',
 'Sexo',
 'Data_Nascimento',
 'Ocupação',
 'Assinatura',
 'Total_Gasto ']

In [ ]:
#VERIFICAR OS TIPOS DISTINTOS DE GÊNEROS EXISTENTES
df_compras.select(F.col('Sexo')).distinct().count()
df_compras.select(F.col('Sexo')).distinct().show()

+---------+
|     Sexo|
+---------+
|masculino|
| feminino|
+---------+

In [ ]:
df_compras.select()